<div class="container ">

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label" id="title">Contact US</label>
    </div>

    <form [formGroup]="ContactForm" class="form row" id="form" (ngSubmit)="contactData()">

        <div class="mb-3 col">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
            <span id="errorMsg" *ngIf="name && name.invalid && name.touched">Enter a valid name</span>
        </div>

        <div class="mb-3 col">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="name@email.com" formControlName="email">
            <span id="errorMsg" *ngIf="email && email.invalid && email.touched">Enter a valid email</span>
        </div>

        <div class="mb-3 col">
            <label for="exampleFormControlInput1" class="form-label">Date of Birth</label>
            <input type="date" class="form-control" id="dob" placeholder="Date of Birth" formControlName="dob">
            <span id="errorMsg" *ngIf="dob && dob.invalid && dob.touched">Enter a valid date</span>
        </div>

        <div class="mb-3">
            <label class="form-label">Select City</label>
            <select class="form-select" id="city" aria-label="Default select example" formControlName="city">
                <option selected>Please select a city</option>
                <option value="1">Kolkata</option>
                <option value="2">Delhi</option>
                <option value="3">Mumbai</option>
            </select>
            <span id="errorMsg" *ngIf="city && city.invalid && city.touched">Enter a valid city</span>

        </div>

        <div class="mb-3 col">
            <label for="" class="form-label">Hobbies</label>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="hobby">
                <label class="form-check-label" for="flexCheckDefault">
                    Reading
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="hobby">
                <label class="form-check-label" for="flexCheckDefault">
                    Movies
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="hobby">
                <label class="form-check-label" for="flexCheckDefault">
                    Podcasts
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="hobby">
                <label class="form-check-label" for="flexCheckDefault">
                    Drawing
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="hobby">
                <label class="form-check-label" for="flexCheckDefault">
                    Illustrations
                </label>
            </div>
        </div>


        <div class="mb-3 col">
            <label for="" class="form-label">Gender</label>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">Male</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">Female</label>
            </div>

        </div>


        <div class="mb-3">
            <label class="form-label">Comments</label>
            <textarea class="form-control" id="remakrs" rows="2" formControlName="comment"></textarea>
            <span id="errorMsg" *ngIf="comment && comment.invalid && comment.touched">Enter a valid
                comment</span>

        </div>

        <button type="submit" class="btn btn-primary" [disabled]="ContactForm.invalid"> SUBMIT </button>


    </form>


</div>

<!-- <script>
    const name = document.getElementById('name')
    const email = document.getElementById('email')
    const dob = document.getElementById('dob')
    const form = document.getElementById('form')
    const err1 = document.getElementById('errorName')
    const err2 = document.getElementById('errorEmail')
    const err3 = document.getElementById('errorDob')

    form.addEventListener('submit', (e) => {

        e.preventDefault()

        let msgName = []
        let msgEmail = []
        let msgDob = []

        if (name.value === '') {
            msgName.push("Name is required")
        }

        if (email.value === '') {
            msgEmail.push("Email is required")
        } else if (!emailCheck(email.value)) {
            msgEmail.push("Valid email is required")
        }

        if (dob.value === '') {
            msgDob.push("Date of Birth is required")
        }


        if (msgName.length > 0) {
            // e.preventDefault()
            err1.innerText = msgName.join(', ')
        }
        if (msgEmail.length > 0) {
            // e.preventDefault()
            err2.innerText = msgEmail.join(', ')
        }
        if (msgDob.length > 0) {
            // e.preventDefault()
            err3.innerText = msgDob.join(', ')
        }

        function emailCheck(email) {
            return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email);
        }



    })



</script> -->