@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");
* {
  font-size: 18px;
  font-family: "Vollkorn", serif;
  box-sizing: border-box;
}
body {
  display: grid;
  justify-items: center;
}

#errorName,
#errorEmail,
#errorDob {
  color: red;
  font-size: small;
}
#title {
  color: #333263;
  font-size: xx-large;
}
#errorMsg {
  color: #ff0000;
  font-size: 15px;
  display: grid;
  justify-items: center;
}
.container {
  /* display: grid;
  justify-items: center; */
  margin: auto;
  padding: 50px 50px 50px 50px;
}

.mb-3 {
  padding-bottom: 20px;
}

.mb-3 small {
  /* visibility: hidden; */
  visibility: hidden;
  /* position: absolute; */
  bottom: 0;
  left: 0;
}

.mb-3 col.error small {
  border-color: #e74c3c;
  visibility: visible;
}
