<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color:aliceblue" class="mx-3">Assingment Site</h1>
        <div class="d-flex">
            <button routerLink="/home" type="button" class="btn btn-success mx-3">
                Home
            </button>
            <button routerLink="/service" type="button" class="btn btn-success mx-3">
                Service
            </button>
            <button routerLink="/about" type="button" class="btn btn-success mx-3">
                About
            </button>
            <button routerLink="/contact" type="button" class="btn btn-success mx-3">
                Contct US
            </button>
        </div>
    </div>
</nav>